.mybtn {
	display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:400;
	line-height:1.42857143;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-image:none;
	border:1px solid transparent;
	border-radius:4px
}
.mybtn-lg {
	padding:10px 16px;
	font-size:18px;
	line-height:1.3333333;
	border-radius:6px
}
.mybtn-primary {
	color:#fff;
	background-color:#337ab7;
	border-color:#2e6da4
}
.mybtn-primary.focus,.mybtn-primary:focus {
	color:#fff;
	background-color:#286090;
	border-color:#122b40
}
.mybtn-primary:hover {
	color:#fff;
	background-color:#286090;
	border-color:#204d74
}
.mybtn-primary.active,.mybtn-primary:active,.open>.dropdown-toggle.mybtn-primary {
	color:#fff;
	background-color:#286090;
	border-color:#204d74
}

.mybtn-default {
	color:#333;
	background-color:#fff;
	border-color:#ccc
}
.mybtn-default.focus,.mybtn-default:focus {
	color:#333;
	background-color:#e6e6e6;
	border-color:#8c8c8c
}
.mybtn-default:hover {
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
.mybtn-default.active,.mybtn-default:active,.open>.dropdown-toggle.mybtn-default {
	color:#333;
	background-color:#e6e6e6;
	border-color:#adadad
}
.mybtn-default.active.focus,.mybtn-default.active:focus,.mybtn-default.active:hover,.mybtn-default:active.focus,.mybtn-default:active:focus,.mybtn-default:active:hover,.open>.dropdown-toggle.mybtn-default.focus,.open>.dropdown-toggle.mybtn-default:focus,.open>.dropdown-toggle.mybtn-default:hover {
	color:#333;
	background-color:#d4d4d4;
	border-color:#8c8c8c
}
.mybtn-default.active,.mybtn-default:active,.open>.dropdown-toggle.mybtn-default {
	background-image:none
}
.mybtn-default.disabled.focus,.mybtn-default.disabled:focus,.mybtn-default.disabled:hover,.mybtn-default[disabled].focus,.mybtn-default[disabled]:focus,.mybtn-default[disabled]:hover,fieldset[disabled] .mybtn-default.focus,fieldset[disabled] .mybtn-default:focus,fieldset[disabled] .mybtn-default:hover {
	background-color:#fff;
	border-color:#ccc
}
.mybtn-default .badge {
	color:#fff;
	background-color:#333
}