<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
    <script src="/static/home/js/jquery.min.js"></script>
    <script src="/static/home/runoob/js/main.js"></script>
    <link rel="stylesheet" href="/static/home/runoob/css/login.css"/> <!-- 连网情况下使用的svg图标 -->

    <!--1、加入下列文件-->
        <script src="/static/home/js/uikit.min.js"></script>
        <script src="/static/home/js/md5.js"></script>
        <script src="/static/home/js/vue.min.js"></script>
        <script src="/static/home/js/abbyApp.js"></script>
        <script>
$.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});

var myhref =''; 
$(function() {
  var Login = "{{Login}}";//登录  js使用后台传来的变量

  var href = "{{href}}";//注册   js使用后台传来的变量 
  myhref = href;
    var vm = new Vue({
        el: '#form-signin',
        data: {
            name: '',
            password: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                postApi('/apis/loginapi/', { 
                    name: this.name,
                    password: this.password //CryptoJS.MD5(this.password).toString(),
                }, function (err, result) {
                    if (err) {
                        showError(err);
                    }
                    else {                       
                            if(result.msg){
                                alert(result.msg);
                                //showError(result.msg);
                            }
                            else{
                               
                               return location.assign(Login ? Login : '/'); //重新定位到后台
                            }
                        
                    }
                    stopLoading();
                });
            }
        }
    });
})

function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}
$(function () {
    
    var href = myhref

    var vm = new Vue({
        el: '#form-register',
        data: {
            name: '',
            email: '',
            password1: '',
            password2: '',
            checkcode: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                if (! this.name.trim()) {
                    return showError('请输入名字');
                }
                if (! validateEmail(this.email.trim().toLowerCase())) {
                    return showError('请输入正确的Email地址');
                }
                if (this.password1.length < 6) {
                    return showError('口令长度至少为6个字符');
                }
                if (this.password1 !== this.password2) {
                    return showError('两次输入的口令不一致');
                }
                if (this.checkcode !== '{{g_checkcode}}') {
                    return showError('请输入正确的验证码');
                }
                startLoading();
                postApi('/apis/registerapi/', { // /account/post/   
                    name: this.name,
                    email: this.email,//.trim().toLowerCase(),
                    password: this.password1//CryptoJS.MD5(this.password1).toString(),
                    //checkcode: this.checkcode,
                }, function (err, result) {
                    if (err) {
                        showError(err);
                    }
                    else {
                         if(result.msg){
                                //alert(result.msg);
                                showError(result.msg);
                            }
                            else{
                               
                               return location.assign(href ? href : '/'); //重新定位到后台
                            }
                    }
                    stopLoading();
                });
            }
        }
    });
});


    </script>

</head>
<body>

<div class="uk-form-row">

<div class="cd-user-modal is-visible"> 
	<div class="cd-user-modal-container">
		<ul class="cd-switcher">
			<li><a href="javascript:;" class="selected">用户登录</a></li>
			<li><a href="javascript:;">注册新用户</a></li>
		</ul>
		<div id="cd-login" class="is-selected"> <!-- 登录表单 -->
		<!-- 2、增加登录表单form v-on:submit.prevent="submit"  v-on="submit: submit"  -->
        <form id="form-signin" v-on:submit.prevent="submit" class="uk-panel uk-panel-box uk-form"> 
		  
			<div class="cd-form">
				<p class="fieldset">
					<label class="image-replace cd-username" for="signin-username">用户名</label>
					<!-- 3、仅保留原来的类，新加双向数据梆定 -->
					<input class="full-width has-padding has-border" v-model="name" name="name" type="text" placeholder="用户">
				</p>

				<p class="fieldset">
					<label class="image-replace cd-password" for="signin-password">密码</label>
					<!-- 4、仅保留原来的类，新加双向数据梆定 -->
					<input class="full-width has-padding has-border" v-model="password" name="password" type="password" placeholder="口令">
				</p>
				
                 <p class="fieldset">
                    <!-- 5、增加 双向数据梆定-->
                    <label class="uk-float-left"><input v-model="remember" type="checkbox"> 记住登录状态</label>
                    <a href="/sendmail/sendmailmasg/" style="float: right;padding-right: 20px;" target="_blank">忘记密码？</a>
                </p>

 				<input name="action" value="signin" type="hidden">
				<p class="fieldset">
				    <!-- 6、login.css中，新增加 full-width1-->
					<input class="full-width1" value="登 录" type="submit">
				</p>
                <div class="uk-alert uk-alert-danger uk-hidden"></div>  <!--7、增加(修改)消息框-->
			</div>
		
        </form>
        </div>

        <div id="cd-signup"> <!-- 注册表单 -->
        <form id="form-register" v-on:submit.prevent="submit" class="uk-form uk-form-stacked">

			<div class="cd-form">
				
				<p class="fieldset">
					<label class="image-replace cd-username" for="signup-username">用户名</label>
					<input class="full-width has-padding has-border" v-model="name" placeholder="输入用户名" type="text">
				</p>

				<p class="fieldset">
					<label class="image-replace cd-email" for="signup-email">邮箱</label>
					<input class="full-width has-padding has-border" v-model="email" placeholder="输入mail" type="email">
				</p>

				<p class="fieldset">
					<label class="image-replace cd-password" for="signup-password">密码</label>
					<input class="full-width has-padding has-border" v-model="password1" placeholder="输入密码" type="password">
				</p>
				<p class="fieldset">
					<label class="image-replace cd-password" for="signup-password">重复输入密码</label>
					<input class="full-width has-padding has-border" v-model="password2" placeholder="重复输入密码" type="password">
				</p>

				
                
                <p class="fieldset">
                    <label class="image-replace cd-checkcode" > 验证码</label>
                    
                    <input class=" has-padding has-border " v-model="checkcode" type="text" maxlength="4" placeholder="验证码 区分大小写"  >
                        
                        <a  href="/home/getcheckcode/?path={{path}}" >  <!--注册后台-->
                          <img  src="/home/checkcodeGIF/"  alt="验证码图片" />
                                看不清？换一个
                        </a>
                </p>
           
				
			 
				 <input name="action" value="signup" type="hidden">
				<p class="fieldset">
					<input  class="full-width1" value="注册新用户" type="submit">
				</p>
				
				  
				 <div class="uk-alert uk-alert-danger uk-hidden"></div>  <!--增加(修改)消息框-->
			</div>
        </form>
		</div>
        
		<a href="javascript:;" class="cd-close-form">关闭</a>
	</div>
</div> 
</body>
</html>
